* {
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 10pt;
}
img {
  height: 65px;
}

.logo {
  position: absolute;
  left: 15px;
  top: 15px;
  z-index: 1;
}

/*
.logo {
  float: left;
  width: 0;
  margin-left: 5px;
  margin-top: 5px;
}*/

article img {
  border-radius: 100%;
  height: 250px;
  width: 250px;
}

aside ul {
  list-style-type: none;
  margin-top: 15px;
  margin-left: 5px;
  margin-right: 10px;
  padding: 0;
  float: left;
  width: 30%;
  background-color: #eff;
}

aside ul li a {
  display: block;
  color: #339;
  padding: 8px 16px;
  text-decoration: none;
}

aside ul li h3.active {
  background-color: #cff;
  color: black;
  font-weight: bold;
  margin: 0;
  padding: 15px;
}

aside ul li a:hover:not(.active) {
  background-color: #cff;
  color: black;
}

nav ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav ul li {
  float: right;
  margin: 5px;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 15px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #fff;
  color: black;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1px;
}

section {
  display: block;
  overflow: hidden;
  margin-top: 5px;
  text-align: justify;
}

.middle-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
